In [ ]:
import pandas as pd
import sqlalchemy
import sqlalchemy.orm
import json
import urllib.request
from bs4 import BeautifulSoup

In [ ]:
CONNECTION_STRING = 'sqlite:///books.db'

In [ ]:
def select_author_name(fullName):
    substrings = fullName.split()
    lastName = ''
    if (len(substrings) > 0):
        lastName = substrings[0]
    initials = ''
    i = 1
    while (i < len(substrings)):
        initials = initials + str(substrings[i][0]) + '.'
        i = i + 1
    return lastName + ' ' + initials

In [ ]:
def search_top_books(input):
    # TODO: добавил чтение параметров соединения из конфигурационного файла
    data = json.loads(input)
    searchString = data['search_string'].lower()
    count = str(data['count'])
    engine = sqlalchemy.create_engine(CONNECTION_STRING, echo=False)
    sqlite_connection = engine.connect()
    query = f'SELECT author, name FROM Hackaton WHERE full_name LIKE \'%%{searchString}%%\' LIMIT {count}'
    print(query)
    queryResult = engine.execute(query)
    result = []
    for row in queryResult:
        author = select_author_name(row[0])
        fullName = {'author': author, 'title': row[1]}
        result.append(fullName)
    sqlite_connection.close()
    output = json.dumps({'books': result}, ensure_ascii=False).encode('utf8')
    return output.decode()

In [ ]:
json_string = '{"search_string": "Ильф", "count": 5}'
data1 = search_top_books(json_string)
print(data1)

SELECT author, name FROM Hackaton WHERE full_name LIKE '%%ильф%%' LIMIT 5
{"books": [{"author": "Ильф И.А.", "title": "Одноэтажная Америка; Письма из Америки"}, {"author": "Ильф И.А.", "title": "Как создавался Робинзон"}, {"author": "Ильф И.А.", "title": "Одноэтажная Америка"}, {"author": "Ильф А.И.", "title": "Дом, милый дом... Как жили в Москве Ильф и Петров"}, {"author": "Ильф И.А.", "title": "Записные книжки"}]}

In [ ]:
CONNECTION_STRING = 'mysql+pymysql://biblosphere:biblosphere@35.223.45.184/biblosphere'

In [ ]:
#connect to google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
def prepare_age_to_convert(x):
    y = x.replace('+', '').split(' ; ')
    y.sort(reverse=True)
    return y[0]

In [ ]:
def create_database(fileName):
    df = pd.read_csv(fileName)
    columnName = ['index', 'doc_id', 'author', 'name', 'city', 'publisher', 
                  'year', 'serie', 'genre', 'code', 'age_limitation']
    df.set_axis(columnName, axis=1, inplace=True)
    del(df['index'])
    df['author'] = df['author'].fillna('').astype(str)
    df['name'] = df['name'].fillna('').astype(str)
    df['age_limitation'] = df['age_limitation'].fillna('0')
    df['age_limitation'] = df['age_limitation'].apply(prepare_age_to_convert)
    df['age_limitation'] = df['age_limitation'].astype('uint8')
    df['full_name'] = df[['author', 'name']].apply(lambda x:
                                                     " ".join(x).lower(),
                                                     axis=1)
    df.info()
    print(df['year'].unique())
    # Сохранение БД
    engine = sqlalchemy.create_engine(CONNECTION_STRING, echo=True)
    sqlite_connection = engine.connect()
    sqlite_table = 'Hackaton'
    df.to_sql(sqlite_table, sqlite_connection, if_exists='fail', index=False)
    sqlite_connection.close()

In [ ]:
!curl ipecho.net/plain

34.83.209.27

In [ ]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.4 MB/s
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

In [ ]:
create_database('/content/gdrive/MyDrive/Biblosphera/Cat.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   doc_id          1048575 non-null  int64
 1   author          1048575 non-null  object
 2   name            1048575 non-null  object
 3   city            999327 non-null   object
 4   publisher       979224 non-null   object
 5   year            1039009 non-null  object
 6   serie           317124 non-null   object
 7   genre           989291 non-null   object
 8   code            994017 non-null   object
 9   age_limitation  1048575 non-null  uint8
 10  full_name       1048575 non-null  object
dtypes: int64(1), object(9), uint8(1)
memory usage: 81.0+ MB
['2018' '1938-' '2001' ... '524' '1946 г.' '1975-1978']
2021-10-03 19:13:58,681 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-10-03 19:13:58,683 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-10-03 19:13:58,729 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-10-03 19:13:58,731 INFO sqlalchemy.engine.Engine [generated in 0.00197s] {}
2021-10-03 19:13:58,816 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2021-10-03 19:13:58,818 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-10-03 19:13:59,686 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2021-10-03 19:13:59,691 INFO sqlalchemy.engine.Engine [generated in 0.00495s] {'table_schema': 'biblosphere', 'table_name': 'Hackaton'}
2021-10-03 19:13:59,741 INFO sqlalchemy.engine.Engine
CREATE TABLE `Hackaton` (
	doc_id BIGINT,
	author TEXT,
	name TEXT,
	city TEXT,
	publisher TEXT,
	year TEXT,
	serie TEXT,
	genre TEXT,
	code TEXT,
	age_limitation BIGINT,
	full_name TEXT
)


2021-10-03 19:13:59,744 INFO sqlalchemy.engine.Engine [no key 0.00242s] {}
2021-10-03 19:13:59,901 INFO sqlalchemy.engine.Engine COMMIT
2021-10-03 19:14:00,465 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-03 19:14:28,585 INFO sqlalchemy.engine.Engine INSERT INTO `Hackaton` (doc_id, author, name, city, publisher, year, serie, genre, code, age_limitation, full_name) VALUES (%(doc_id)s, %(author)s, %(name)s, %(city)s, %(publisher)s, %(year)s, %(serie)s, %(genre)s, %(code)s, %(age_limitation)s, %(full_name)s)
2021-10-03 19:14:28,587 INFO sqlalchemy.engine.Engine [generated in 26.13880s] ({'doc_id': 1, 'author': 'Устинова Татьяна Витальевна', 'name': 'Призрак Канта', 'city': 'Москва', 'publisher': 'Эксмо', 'year': '2018', 'serie': 'Татьяна Устинова. Первая среди лучших', 'genre': 'Художественная литература ; Российский детектив', 'code': '84(2Рос)6', 'age_limitation': 16, 'full_name': 'устинова татьяна витальевна призрак канта'}, {'doc_id': 2, 'author': '', 'name': 'Наука и жизнь', 'city': 'Москва', 'publisher': 'АНО Редакция журнала «Наука и жизнь»', 'year': '1938-', 'serie': None, 'genre': 'Наука. Науковедение', 'code': '72', 'age_limitation': 12, 'full_name': ' наука и жизнь'}, {'doc_id': 3, 'author': '', 'name': 'Наука и жизнь', 'city': None, 'publisher': None, 'year': '2018', 'serie': None, 'genre': 'Наука. Науковедение', 'code': '72', 'age_limitation': 12, 'full_name': ' наука и жизнь'}, {'doc_id': 4, 'author': '', 'name': 'Наука и жизнь', 'city': None, 'publisher': None, 'year': '2018', 'serie': None, 'genre': 'Наука. Науковедение', 'code': '72', 'age_limitation': 12, 'full_name': ' наука и жизнь'}, {'doc_id': 5, 'author': '', 'name': 'Наука и жизнь', 'city': None, 'publisher': None, 'year': '2018', 'serie': None, 'genre': 'Наука. Науковедение', 'code': '72', 'age_limitation': 12, 'full_name': ' наука и жизнь'}, {'doc_id': 6, 'author': 'Тараканов Борис Игоревич', 'name': 'Кольцо времени', 'city': 'Москва', 'publisher': 'АиФ Принт', 'year': '2001', 'serie': 'Черная звезда', 'genre': 'Художественная литература ; Фэнтэзи', 'code': '84(2Рос)6', 'age_limitation': 0, 'full_name': 'тараканов борис игоревич кольцо времени'}, {'doc_id': 8, 'author': '', 'name': 'Фантастика-86', 'city': 'Москва', 'publisher': 'Молодая гвардия', 'year': '1986', 'serie': None, 'genre': 'Художественная литература', 'code': '84(2Рос)6', 'age_limitation': 0, 'full_name': ' фантастика-86'}, {'doc_id': 9, 'author': '', 'name': 'Фантастика-90', 'city': 'Москва', 'publisher': 'Молодая гвардия', 'year': '1990', 'serie': None, 'genre': 'Художественная литература ; Фантастика', 'code': '84(2Рос)6', 'age_limitation': 0, 'full_name': ' фантастика-90'}  ... displaying 10 of 1048575 total bound parameter sets ...  {'doc_id': 1363047, 'author': 'Хруцкий Эдуард Анатольевич', 'name': 'Тревожный август', 'city': 'Москва', 'publisher': 'Вече', 'year': '2019', 'serie': 'Коллекция "Военных приключений" ; Военные приключения', 'genre': 'Художественная литература', 'code': '84(2)6-445.7', 'age_limitation': 12, 'full_name': 'хруцкий эдуард анатольевич тревожный август'}, {'doc_id': 1363048, 'author': 'Басовская Наталия Ивановна', 'name': 'Сборник лекций по истории', 'city': 'Москва', 'publisher': 'ДиВиДи-Клуб', 'year': '2012 -', 'serie': 'Прямая речь', 'genre': 'История в целом. Всемирная история', 'code': '63.3(0)', 'age_limitation': 0, 'full_name': 'басовская наталия ивановна сборник лекций по истории'})
2021-10-03 19:16:48,952 INFO sqlalchemy.engine.Engine COMMIT
2021-10-03 19:16:56,381 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `biblosphere`
2021-10-03 19:16:56,383 INFO sqlalchemy.engine.Engine [raw sql] {}

In [30]:
def load_url(url):
    response = urllib.request.urlopen(url).read().decode('utf-8')
    f = open('temp.html', 'w', encoding='utf-8')
    f.write(response)
    f.close()

In [31]:
load_url('https://eksmo.ru/search/?q=%D0%BF%D0%BE%D0%BB%D1%8F%D0%BA%D0%BE%D0%B2%D0%B0+%D0%BD%D0%B5%D0%B2%D0%B5%D1%81%D1%82%D0%B0+%D0%BA%D0%B0%D0%BB%D0%B8%D0%BE%D1%81%D1%82%D1%80%D0%BE')

In [32]:
f = open('temp.html', 'r', encoding='utf-8')
contents = f.read()
level0 = BeautifulSoup(contents, 'lxml')
contents1 = level0.find('div', attrs = {'class' : 'books__item book'})
for e in contents1.children:
    if (e.name == 'a'):
        print(e['href'])

/book/nevesta-kaliostro-ITD289638/

In [33]:
load_url('https://eksmo.ru//book/nevesta-kaliostro-ITD289638/')

In [34]:
f = open('temp.html', 'r', encoding='utf-8')
contents = f.read()
level0 = BeautifulSoup(contents, 'lxml')
description = level0.find('div', attrs = {'class' : 'spoiler__text t t_last-p-no-offset book-page__card-description-text'}).contents[0]
print(description)
image = level0.find('a', attrs = {'class' : 'book-page__cover-link'})['href']
print(image)

 Каждая девушка мечтает стать невестой… Но две подружки Лиза и Юлька не торопились под венец. Ведь в жизни так много интересного, все нужно успеть попробовать и испытать… Журналистка Юлька от избытка фантазии написала статью про некое тайное общество, которое якобы появилось в их городе. После этого ей на мобильный стал звонить загадочный незнакомец. А вскоре за подругами кто-то начал следить. И тут незнакомец приглашает подруг… ночью на кладбище. Там он сообщает им, что первая жертва уже принесена. Дальше события мелькают как в калейдоскопе, некогда перевести дух. По ходу приключении Лиза и Юлька успевают влюбиться. Но оба возлюбленных явно что-то скрывают. Перед подругами встает законный вопрос: а те ли они за кого себя выдают?..
https://cdn.eksmo.ru/v2/ITD000000000289638/COVER/cover1__w820.jpg